/* ********** Utility Classes ********** */

.container {
  width: 100%;
  max-width: 90%;
  margin: 0px auto;
}

.text-light {
  color: #f1f1f1;
}

.text-dark {
  color: #50586C;
}

.bg-light {
  background-color: #fff;
}

.bg-offwhite {
  background-color: #f1f1f1;
}

.bg-dark {
  background-color: #212121;
  background-color: #202225;
}

.bg-primary {
  background-color: #DCE2F0;
}

.bg-primary-light {
  background-color: rgba(220, 226, 240, 0.45);
}

.bg-secondary {
  background-color: #303030;
  background-color: #292b2f;
}

.bg-grey {
  background-color: #424242;
  background-color: #37393f;
}

.bg-darkgrey {
  background-color: #50586C;
}

.btn {
  padding: 0.75px 5px;
  border: none;
  border-radius: 2.5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  border-radius: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #50586C;
  border: 1.5px solid #50586C;
}

.btn-secondary {
  color: #fff;
  background: #37393f;
  border: 1.5px solid #fff;
}

.btn-dark {
  background-color: #f1f1f1;
  color: #212121;
}

.shadow-light {
  box-shadow: 0px 0px 5px rgba(220, 226, 240, 0.8);
}

.shadow-dark {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.shadow-secondary {
  box-shadow: 0px 0px 5px rgba(80, 88, 108, 0.6);
}

.shadow-primary {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.65);
}

.border-light {
  border: 1.5px solid #fff;
}

.border-dark {
  border: 1.5px solid #50586C;
}

.border-primary {
  border: 0.5px solid #f1f1f1;
}

.border-secondary {
  border: 0.5px solid #50586C;
}

/* ********** Navbar Styling ********** */

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.nav-light {
  color: #50586C;
  background-color: #DCE2F0;
}

.nav-dark {
  color: #fff;
  /* background-color: #50586C; */
  background-color: #292b2f;
}

.logo {
  margin-left: 10px;
  font-weight: 600;
}

.nav-items {
  display: flex;
  margin-right: 10px;
}

.nav-items-dark {
  background-color: #292b2f;
}

.nav-items-light {
  background-color: #DCE2F0;
}

.list-item {
  margin: 0px 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  list-style-type: none;
}

.list-item a {
  text-decoration: none;
}

.hamburger-menu,
#checkbox {
  display: none;
}

.mode-wrapper {
  display: flex;
  align-items: center;
}

.light-mode-box {
  padding: 0 2.5px;
  transition: all 0.25s ease-in-out;
}

.dark-mode-box {
  padding: 0 2.5px;
  transition: all 0.25s ease-in-out;
}

.modes {
  display: flex;
  margin-left: 5px;
  border-radius: 2.5px;
  background-color: transparent;
}

.active-mode-light {
  color: #fff;
  background-color: #50586C;
}

.active-mode-dark {
  color: #292b2f;
  background-color: #fff;
}

.about-login-note {
  width: 70%;
  margin: 100px auto;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
}

/* ********** Alert Styling ********** */
.alert {
  position: fixed;
  top: 56px;
  left: 50%;
  width: 90%;
  padding: 2.5px 10px;
  font-size: 16px;
  font-weight: 500;
  transform: translateX(-50%);
  border-radius: 5px;
}

.alert strong {
  font-weight: 600;
  padding-right: 5px;
}

/* ********** AddNote Styling ********** */
.add-note-wrapper {
  margin: 25px auto;
  margin-top: 50px;
}

.add-note-wrapper .heading {
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.note-form-wrapper {
  padding: 15px;
  border-radius: 5px;
}

.note-form-wrapper label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.note-form-wrapper input,
.note-form-wrapper textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 3.5px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  border: none;
  border-radius: 5px;
  outline: none;
}

/* ********** Notes Styling ********** */
.notes {
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 10px;
}

.masonry-grid {
  display: flex;
  /* flex container */
  margin-left: -10px;
  /* horizontal gutter fix */
  width: auto;
  /* auto width */
}

.masonry-grid_column {
  padding-left: 10px;
  /* column gap */
  background-clip: padding-box;
  /* clean background */
}

/* better: use > * to support any child element */
.masonry-grid_column>div {
  margin-bottom: 10px;
  /* vertical gap */
}

.show-note-wrapper p {
  font-weight: 500;
}

.notes .heading {
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

/* ********** Modal Styling ********** */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal-content {
  position: fixed;
  top: -100%;
  left: 50%;
  width: 50%;
  min-width: 300px;
  padding: 5px;
  border-radius: 10px;
  transform: translateX(-50%);
  transition: all .85s ease-in-out;
}

.modal-heading {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.modal-form {
  position: relative;
  width: 80%;
  margin: 0px auto;
}

.modal-form label,
.modal-form input,
.modal-form textarea {
  display: block;
  width: 100%;
  margin-top: 5px auto;
  padding: 3.5px;
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: 0.25px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.modal-form label {
  margin-top: 10px;
  padding-left: 0px;
}

.modal-form button[type="submit"] {
  display: block;
  margin: 5px auto;
  margin-top: 10px;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.show-modal {
  visibility: visible;
}

.show-content {
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ********** NoteItem Styling ********** */

.note-item {
  padding: 10px;
  border-radius: 5px;
}

.note-heading {
  display: inline-block;
  margin-bottom: 5px;
  padding: 1.5px 3.5px;
  font-weight: 600;
  border-radius: 2.5px;
}

.note-data {
  font-size: 12px;
  font-weight: 500;
  text-align: justify;
}

.note-tag {
  margin-top: 5px;
  font-weight: 600;
  text-align: right;
}

.note-icon {
  margin-left: 10px;
  cursor: pointer;
}

/* ********** Login/Signup Form Styling ********** */
.form {
  width: 80%;
  min-width: 250px;
  max-width: 500px;
  margin: 0px auto;
  margin-top: 150px;
  padding: 10px;
  border-radius: 10px;
}

.form-heading,
.form-line {
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.form input,
.form label {
  display: block;
  width: 80%;
  margin: 0px auto;
  font-size: 16px;
  font-weight: 500;
}

.form input {
  margin-top: 5px;
  padding: 3.5px;
  margin-bottom: 25px;
  font-weight: 400;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form input[type="password"] {
  margin-bottom: 15px;
}

.form-btn {
  display: block;
  margin: 0px auto;
}

.error-msg {
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: rgb(255, 88, 88);
}

/* ********** About Styling ********** */
.about-heading {
  display: inline-block;
  padding: 2.5px 5px;
  margin: 0px auto;
  margin-top: 45px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-align: center;
  border-radius: 5px;
}

.about-heading-dark {
  color: #50586C;
  border: 1.5px solid #50586C;
}

.about-heading-light {
  color: #f1f1f1;
  background-color: #292B2F;
  border: 1.5px solid #f1f1f1;
}

.about-data-wrapper {
  margin: 25px auto;
  padding: 10px;
  border-radius: 5px;
}

.overview {
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.25px;
  word-spacing: 0.5px;
}

.feature-line {
  margin-top: 15px;
  padding: 1.5px;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.feature-line strong {
  padding: 3.5px 5px;
  font-weight: 600;
  color: #292b2f;
  border-radius: 0px 5px 5px 0px;
}

.feature-line p {
  margin-top: 10px;
  border-radius: 0px 5px 5px 0px;
}

.about-data-wrapper p {
  font-size: 14px;
  padding: 3.5px;
  font-weight: 500;
  line-height: 18px;
}

/* ********** Responsive Styling ********** */

@media (max-width:768px) {
  .navbar {
    display: block;
    height: 60px;
  }

  .logo {
    padding-top: 16px;
  }

  .nav-items {
    position: fixed;
    top: 0px;
    right: 0px;
    display: block;
    height: 100vh;
    margin: 0;
    padding-top: 85px;
    transition: all 0.25s ease-in-out;
    transform-origin: right;
    transform: scaleX(0%);
    border-left: 1.2px solid #fff;
  }

  .show-nav-items {
    transform: scaleX(100%);
  }

  .list-item {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px 5px;
    padding-right: 25px;
    text-align: right;
  }

  .hamburger-menu,
  #checkbox {
    position: absolute;
    top: 10px;
    right: 25px;
    height: 25px;
    width: 32px;
    margin-top: 10px;
    display: block;
  }

  .hamburger-menu {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-line {
    height: 2px;
    width: 100%;
  }

  .line1 {
    transform-origin: 0% 0%;
    transition: all 0.35s ease-in-out;
  }

  .line2 {
    transition: all 0.35s ease-in-out;
  }

  .line3 {
    transform-origin: 0% 100%;
    transition: all 0.35s ease-in-out;
  }

  .navbar input[type="checkbox"]:checked~.hamburger-menu .line1 {
    transform: rotate(45deg);
  }

  .navbar input[type="checkbox"]:checked~.hamburger-menu .line2 {
    opacity: 0;
  }

  .navbar input[type="checkbox"]:checked~.hamburger-menu .line3 {
    transform: rotate(-45deg);
  }

  #checkbox {
    z-index: 10;
    opacity: 0;
  }

  .note-item {
    margin-bottom: 10px;
  }
}

@media (max-width:500px) {
  .about-login-note {
    width: 320px;
    padding: 8px 12px;
    font-size: 16px;
    text-align: justify;
  }

  .add-note-wrapper .heading,
  .notes .heading {
    font-size: 24px;
  }

  .form-heading {
    font-size: 24px;
  }

  .overview,
  .about-data-wrapper p {
    text-align: justify;
  }

  .form-line {
    font-size: 16px;
  }

  .feature-line p {
    font-size: 14px;
    text-align: center;
  }
}